*{padding:0px; margin:0px; box-sizing:border-box; list-style:none; }
body{
	font-family: 'Open Sans', sans-serif; font-weight:400;
}
.text-center{
	text-align:center;
}
.row{
	margin-left:-15px; margin-right:-15px;
}
.pad-100{
	padding:100px 0px;
}
.fix{
	overflow:hidden;
}
.bg-color{
		background-color:#F7F3F7;
}
/* main-header-area */
.main-header-area{
	min-height:110px;
}
.column{
	width:1170px;
	margin: auto;
}
.logo{
	padding:30px 30px;
	float:left;
}
.menu{
	float:right;
}
.menu ul{
	list-style:none;
}
.menu ul li{
	display:inline-block;
}
.menu ul li a {
  color: #484c55;
  font-size: 15px;
  text-decoration: none;
  padding: 45px 20px;
  display: block;
  transition:.3s;
  position:relative;
}
.menu ul li a::before {
  background: #49cbcd none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 0%;
  opacity: 0;
  transition: .3s;
}
.menu ul li a::after{
  background: #49cbcd none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 3px;
  right: 0;
  font-size:15px;
  position: absolute;
  width: 0%;
  opacity: 0;
  transition: .3s;
}
.menu ul li a:hover{background-color:#f8f9fb; color:49cbcd;}
.menu ul li a:hover:before, .menu ul li a:hover:after{opacity:1; width:50%;}
/*-------- slider area--------------*/
.slider-area{
	clear:both;
}
.single-slider{
	position:relative;
	text-align:center;
}
.slider-img img{
	width:100%;
}
.slider-text {
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.slider-text h1 {
  color: #ffffff;
  font-size: 63px;
  font-weight: 600;
  line-height: 58px;
  margin-bottom: 45px;
}
.slider-text p {
  color: #ffffff;
  font-size: 23px;
  line-height: 40px;
  margin-bottom: 65px;
}
.slider-text a {
  color: #ffffff;
  font-size: 26px;
  font-weight: 600;
  padding: 22px 40px;
  text-decoration: none;
  border: 3px solid #fff;
  border-radius:5px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev, 
.owl-carousel .owl-controls .owl-nav .owl-next{
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  color:#4ACBCE;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
}
.owl-carousel .owl-controls .owl-nav div {
  background: black none repeat scroll 0 0;
  color: #fff;
  height: 60px;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 50%;
  left:30px;
  width: 60px;
  transform:translateY(-50%);
}
.owl-carousel .owl-controls .owl-nav div.owl-next{
	right:30px;
	left:auto;
}
/*------------- service area ---------*/
.service-area{
	clear:both;
	
}
.col-4{
	width:25%;
	float:left;
	padding:0px 15px;
}
.single-service{
	text-align:center;
}
.service-icon {
  
}
.service-info{ 
	
}
.service-icon i {
  border: 3px solid #4acbce;
  border-radius: 100%;
  color: #4acbce;
  font-size: 40px;
  height: 100px;
  line-height: 100px;
  margin-bottom: 45px;
  text-align: center;
  width: 100px;
}
.service-info h3{
	font-size:22px;
	margin-bottom:30px;
	color:#4e525d;
}
.service-info p{
	font-size:14px;
	color:#4e525d;
	margin-bottom:20px;
	line-height:26px;
}
.service-info a{
	
	
}
.btn{
	border-radius:5px;
	font-size:14px;
	text-decoration:none;
	display: inline-block;
	padding:10px 15px;
	background: #49cbcd;
	color:#ffffff;
}
.btn:hover{
	background:#000; 
}
/*----------- portfolio area -----------*/
.portfolio-area{}
.section-title{
	text-align:center;
	margin-bottom: 70px;
}
.section-title h2{
	font-size:42px;
	color:#4e525d;
	font-weight:400;
}
.single-portfolio{
	padding-bottom:30px;
	line-height:0px;
}
.single-portfolio img {
  width: 100%;
}
.col-3 {	
  float: left;
  width: 33.33%;
  padding: 0 15px;
}
.btn-large{
	padding:25px 40px;
	font-size:24px;
	font-weight:400;
	line-height: 20px;
}
.mar-t-30{
	margin-top:30px;
}
/*--------------- The team area -------------*/
.team-area{
	
}
.single-team{
	color:#4e525d;
}
.team-img  a{
  display: inline-block;
  position: relative;
  line-height: 0px;
}
.team-img a:before{
  opacity:0.5;
  transition:.5s;
  border-radius: 50%;
  background: #000000;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  transform:scale(0);
}
.team-img a::after {
  color: #f46d6d;
  content: "ï§";
  font-family: fontawesome;
  font-size: 50px;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease 0s;
  transform: scale(3);
}
.single-team:hover .team-img a:before{transform:scale(1);}
.single-team:hover .team-img a:after{transform:scale(1); opacity:1;}
.team-img{
	margin-bottom:70px;
	border-radius:50%;
}
.team-img img{
	border-radius:50%;
}
.team-info{}
.team-info p{
	font-size:14px;
	line-height:26px;
}
.team-name{
	margin-bottom:35px;
}
.team-name h3{
	line-height:17px;
	font-size:22px;
	margin-bottom:15px;
}
.team-name span{
	font-size:14px;
	
}
/*------- pricing-table-area start -------------*/
.single-pricing{
	
}
.single-pricing > h2 {
  color: #ffffff;
  background: #485460;
  font-size: 26px;
  line-height: 22px;
  padding: 30px;
  font-weight: 400;
}
.single-pricing span {
  background: #F8F9FB none repeat scroll 0 0;
  color: #485460;
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  padding: 22px 0;
}
.single-pricing ul {
  list-style: none;
  background: #fff;
}
.single-pricing ul li {
  border-bottom: 1px solid;
  color: #8c9299;
  font-size: 14px;
  line-height: 45px;
  border-bottom: 1px solid #EFF3F7;
}
.pricing-buy {
  padding: 30px 0;
  background: #F8F9FC;
}
.price-btn {
  background: #788492 none repeat scroll 0 0;
  padding: 10px 50px;
  font-size: 17px;
  color:#ffffff;
  font-weight: 600;
}
.price-btn:hover{
	background:#49CBCD; 
}
h2.paste-bg{
	background:#49CBCD;
}
.paste-bg{
	background:#49CBCD;
}
a.paste-bg:hover{
	background:#788492;
}
/*------- pricing-table-area end -------------*/
/*--------- testimonial area start ----------*/
.single-testimonial{
	
}
.single-testimonial h2 {
  color: #4e525d;
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 40px;
  line-height: 44px;
}
.single-testimonial p {
  color: #4e525d;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom:40px;
}
.single-testimonial span {
  color: #9a8faf;
  font-size: 21px;
  line-height: 21px;
  display: inline-block;
}
.testimonial-active .owl-controls .owl-nav  div, .active-slider .owl-controls .owl-nav  div{
	background:none;
	color: #666;
	font-size:40px;
}
/*--------- testimonial area end ----------*/
/*--------- footer area start -------------*/
.black-opacity::before{
  background: #000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  opacity:0.5;
  width: 100%;
}
.z-index-content{
	z-index:1;
	position:relative;
}
.footer-bg{
	position:relative;
	background-image: url(img/bg/footer-bg.jpg);
	background-size: cover;
}
.text-white h2{
	color:#ffffff;
}
.col-2 {
  width: 50%;
  padding: 0 15px;
  float: left;
}
.contact-info{
	
}
.contact-info h3{
	font-size:24px;
	color:#ffffff;
	margin-bottom: 12px;
}
.contact-info p {
  font-size: 14px;
  line-height: 21px;
  color:#ffffff;
}
.social-icon{
	margin-top: 40px;
	margin-bottom: 20px;
}
.social-icon a {
  background: #3B5997 none repeat scroll 0 0;
  border-radius: 100%;
  display: inline-block;
  height: 40px;
  margin-right: 15px;
  width: 40px;
  color:#FFFFFF;
  text-align: center;
  line-height: 40px;
}
.social-icon a.twitter{
		background:#3EC2F3;
}
.social-icon a.google-plus{
	background: #E44C41;
}
.social-icon a:hover{
	background:#ffffff;
	color: #000;
}
.address{
	
}
.address ul li {
  font-size: 14px;
  color: #bface2;
  margin-bottom: 12px;
}
.contact-form{}
.input-field {
  width: 50%;
  float: left;
  padding: 0 15px;
}
.input-field input {
  color: #7e7e7e;
  font-size: 16px;
  height: 45px;
  padding-left: 15px;
  width: 100%;
  border:none;
  border-radius: 5px;
  margin-bottom:30px;
}
.message-box{
	border-radius:5px;
	padding: 0 15px;
}
.message-box textarea {
  font-size: 16px;
  font-weight: 400;
  padding-left: 20px;
  padding-top: 20px;
  width: 100%;
  height: 180px;
  border: none;
  border-radius: 5px;
}
.message-box button {
  float: right;
  font-size: 22px;
  font-weight: 400;
  margin-top: 30px;
  padding: 15px 55px;
  border: 0;
  cursor: pointer;
}
